<container>
  <row>
    <columns large="12">
		<h2>Hello *|FNAME|*,</h2>
    {{#ifpage 'rr-vol001'}}
      	<p><strong>April 24, 2017</strong> &mdash; Welcome to the first installment of the GSW Newtown Resource Round-up. This will be a collection of resources from around the web focusing on design and technology. Depending on the amount of currated content, this could be either something that gets sent out once a week or once a month.</p>
    {{/ifpage}}
    {{#ifpage 'rr-vol002'}}
      	<p><strong>May 1, 2017</strong> &mdash; I've opted to eliminate the categorization of the links this week, as over 20 links have made it into the email this week.</p>
    {{/ifpage}}
    {{#ifpage 'rr-vol003'}}
      	<p><strong>May 9, 2017</strong> &mdash; Here's a quick one from the road.</p>
    {{/ifpage}}
    </columns>
  </row>
</container>